@import "rootColor";
@import "font";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  height: 98%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: $gray;
}

::-webkit-scrollbar-thumb {
  background-color: $navyBlue;
  border-radius: 25px;
  border: 2px solid transparent;
  background-clip: content-box;

  &:hover {
    background-color: $lightBlue1;
  }
}

#app {
  min-height: 100vh;
  background: $backgroundLight;
  color: $fontLight;
  transition: 0.2s ease-in-out;

  &.dark-mode {
    background: $backgroundDark;
    color: $fontDark;
  }

  .line {
    max-width: 250px;
    width: 50%;
    height: 5px;
    border-radius: 5rem;
    background: $navyBlue;
    z-index: 1;
    filter: drop-shadow(0 0 2px $navyBlue);
    transition: 0.2s ease-in-out;
  }
}

@media (max-width: 992px) {
  .video-container {
    width: 100%;
  }
}

.button {
  font-family: "Saira", sans-serif;
  color: $fontLight;
  border: none;
  background: linear-gradient(45deg, $blue2, $lightBlue2 50%);
  border-radius: 4px;
  padding: 14px 40px;
  height: 32px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.5px;
  box-shadow: 2px 2px $blue, 3px 3px $blue, 4px 4px $blue;
  filter: drop-shadow(0 0px 2px $lightBlue1);
  transition: all 0.2s ease-in-out;

  &.dark-mode {
    background: linear-gradient(45deg, $lightBlue2, $blue2 50%);
    color: $fontDark;
  }
}

.swiper {
  padding: 5px 14px 25px;
  z-index: 0;
}

.specific-game {
  color: $fontLight;

  &:hover {
    color: $fontLight;
    text-decoration: none;
  }

  &.dark-mode {
    color: $fontDark;

    &:hover {
      color: $fontDark;
      text-decoration: none;
    }
  }
}

hr {
  border-top: 2.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

// Advanced Filter
// Platform
@for $i from 1 through 3 {
  .platform-#{$i} {
    border-radius: 5px;
    padding: 5px 10px;
  }
}

@for $i from 1 through 3 {
  #platform-#{$i}:checked:checked ~ .platform-#{$i} {
    padding: 5px 10px;
    border-radius: 5px;
    color: $fontDark;
    background: $navyBlue;
    box-shadow: 0px 10px 15px -7px rgba(0, 0, 0, 0.25);
    transition: 0.2s ease-in-out;

    &.dark-mode {
      background: $backgroundDarkDeep;
    }
  }
}

// Gpraphics
@for $i from 1 through 2 {
  .graphic-#{$i} {
    border-radius: 5px;
    padding: 5px 10px;
  }
}

@for $i from 1 through 2 {
  #graphic-#{$i}:checked:checked ~ .graphic-#{$i} {
    padding: 5px 10px;
    border-radius: 5px;
    color: $fontDark;
    background: $navyBlue;
    box-shadow: 0px 10px 15px -7px rgba(0, 0, 0, 0.25);
    transition: 0.2s ease-in-out;

    &.dark-mode {
      background: $backgroundDarkDeep;
    }
  }
}

// Combat
@for $i from 1 through 2 {
  .combat-#{$i} {
    border-radius: 5px;
    padding: 5px 10px;
  }
}

@for $i from 1 through 2 {
  #combat-#{$i}:checked:checked ~ .combat-#{$i} {
    padding: 5px 10px;
    border-radius: 5px;
    color: $fontDark;
    background: $navyBlue;
    box-shadow: 0px 10px 15px -7px rgba(0, 0, 0, 0.25);
    transition: 0.2s ease-in-out;

    &.dark-mode {
      background: $backgroundDarkDeep;
    }
  }
}

// Gameplay
@for $i from 1 through 2 {
  .gameplay-#{$i} {
    border-radius: 5px;
    padding: 5px 10px;
  }
}

@for $i from 1 through 2 {
  #gameplay-#{$i}:checked:checked ~ .gameplay-#{$i} {
    padding: 5px 10px;
    border-radius: 5px;
    color: $fontDark;
    background: $navyBlue;
    box-shadow: 0px 10px 15px -7px rgba(0, 0, 0, 0.25);
    transition: 0.2s ease-in-out;

    &.dark-mode {
      background: $backgroundDarkDeep;
    }
  }
}

// Setting
@for $i from 1 through 5 {
  .setting-#{$i} {
    border-radius: 5px;
    padding: 5px 10px;
  }
}

@for $i from 1 through 5 {
  #setting-#{$i}:checked:checked ~ .setting-#{$i} {
    padding: 5px 10px;
    border-radius: 5px;
    color: $fontDark;
    background: $navyBlue;
    box-shadow: 0px 10px 15px -7px rgba(0, 0, 0, 0.25);
    transition: 0.2s ease-in-out;

    &.dark-mode {
      background: $backgroundDarkDeep;
    }
  }
}

// Tags
@for $i from 1 through 21 {
  .tag-#{$i} {
    border-radius: 5px;
    padding: 5px 10px;
  }
}

@for $i from 1 through 21 {
  #tag-#{$i}:checked:checked ~ .tag-#{$i} {
    padding: 5px 10px;
    border-radius: 5px;
    color: $fontDark;
    background: $navyBlue;
    box-shadow: 0px 10px 15px -7px rgba(0, 0, 0, 0.25);
    transition: 0.2s ease-in-out;

    &.dark-mode {
      background: $backgroundDarkDeep;
    }
  }
}

@keyframes show-up {
  0% {
    transform: translateY(100px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.fadeInOutTop-enter {
  opacity: 0;
  transform: translateY(-25px);
}

.fadeInOutTop-leave-to {
  opacity: 0;
  transform: translateY(-25px);
}

.fadeInOutTop-enter-active,
.fadeInOutTop-leave-active {
  transition: all 0.3s ease;
}

.fadeInBottom-enter,
.fadeInBottom-leave-to {
  opacity: 0;
  transform: translateY(25px);
}

.fadeInBottom-enter-active,
.fadeInBottom-leave-active {
  transition: all 0.3s ease;
}

.overlay-enter {
  opacity: 0;
}

.overlay-leave-to {
  opacity: 0;
}

.overlay-enter-active,
.overlay-leave-active {
  transition: all 0.2s ease-in-out;
}

.slideLeft-enter {
  transform: translateX(250px);
}

.slideLeft-leave-to {
  transform: translateX(250px);
}

.slideLeft-enter-active,
.slideLeft-leave-active {
  transition: 0.2s ease-in-out;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.3s ease;
}
