@import "rootColor";
@import "font";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  min-height: 100vh;
  background: $backgroundLight;
  overflow: hidden;
  color: $fontLight;
  transition: 0.3s ease-in-out;

  &.dark-mode {
    background: $backgroundDark;
    color: $fontDark;
  }
}

.fadeInOutBottom-enter {
  opacity: 0;
}

.fadeInOutBottom-leave-to {
  opacity: 0;
}

.fadeInOutBottom-enter-active,
.fadeInOutBottom-leave-active {
  transition: all 0.3s ease;
}

.overlay-enter {
  opacity: 0;
}

.overlay-leave-to {
  opacity: 0;
}

.overlay-enter-active,
.overlay-leave-active {
  transition: all 0.2s ease-in-out;
}

.slideLeft-enter {
  transform: translateX(250px);
}

.slideLeft-leave-to {
  transform: translateX(250px);
}

.slideLeft-enter-active,
.slideLeft-leave-active {
  transition: 0.2s ease-in-out;
}
